# File: config.yml
api:
  user: "happyuser"
  pass: "somepassword"
  url: "https://links.example.com/"
debug: true
shared: no
exclude_tags:
  - notag
  - osef
  - nopost
exclude_no_tags: true
logs:
  dir: 'samples'
  format: '#leloop.%Y%m%d.log'
